@mixin flex($justify-content: center, $align-items: center, $flex-direction: row) {
  display: flex;
  justify-content: $justify-content;
  align-items: $align-items;
  flex-direction: $flex-direction;
}

@mixin overflowEllipsis {
  white-space: nowrap; 
  overflow: hidden;
  text-overflow: ellipsis;
}

@function backgroundFill($url) {
  @return url(#{$url}) 0 0/100% 100% no-repeat;
}

@mixin pageContainerLimit {
  max-width: 750px;
}